* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f9f9f9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-app h2 {
    color: #4285f4;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

h3 {
    color: #4285f4;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 14px;
    background: #4285f4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #3367d6;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    transition: background 0.3s ease;
}

ul li:hover {
    background: #e0e0e0;
}

ul li::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #777;
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #777;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

ul li span:hover {
    background: #e0e0e0;
}
